<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Writingder{% block subtitle %}{% endblock %}</title>
        <link rel="icon" href="/images/logo-writingder-gradient.svg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@400;500;600&display=swap" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <script src="https://kit.fontawesome.com/a63b7e2617.js" crossorigin="anonymous"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="">
        <header class="">
            <div class="max-w-2xl mx-auto flex justify-between">
                <div class="logo flex flex-row items-center">
                    <img src="/images/logo-writingder-gradient.svg" />
                    <h1>Writingder</h1>
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="user-menu">
                        <a href="#"><i class="fa-solid fa-user"></i> Connected!</a>
                        <a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                    </div>
                {% else %}
                    <div class="user-menu">
                        <a href="{{ path('app_login') }}"><i class="fa-solid fa-right-to-bracket"></i> Log in</a>
                        <a href="{{ path('app_register') }}">Sign up</a>
                    </div>
                {% endif %}
            </div>
        </header>
        <section class="max-w-2xl mx-auto">
            {% block body %}{% endblock %}
        </section>
    </div>
    </body>
</html>
